/*
YUI 3.12.0 (build 8655935)
Copyright 2013 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }.clear {
  clear: both;
}
* {
  zoom: 1;
  z-index: 1;
}
html, body {
  background-image: url(clips/background.png);
  background-repeat: repeat;
  font-family: Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #a61d31;
  text-decoration: underline;
}
.header {
  width: 812px;
  height: 50px;
  margin: 18px auto 0 auto;
}
.header h1 {
  text-indent: -1000em;
}
.header .title-left {
  float: left;
}
.header .title-right {
  float: right;
}
.menu {
  margin: 0 auto;
}
.menu ul {
  float: left;
  font-weight: bold;
  font-size: 13.17px;
}
.menu li {
  float: left;
  margin-left: 40px;
}
.menu li a {
  color: #f2e5d5;
  text-shadow: 1px 1px 2px #333;
}
.menu li a:hover {
  color: #c8d466;
  text-decoration: none;
}
.menu-left {
  margin-top: 35px;
  margin-left: 120px;
}
.menu-right {
  margin-top: 33px;
  margin-left: 170px;
}
.menu form input {
  outline: none;
  border-style: none;
  border-color: transparent;
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
}
.menu .login-input {
  padding: 0 5px;
}
.menu .login-button {
  cursor: pointer;
  color: #c8d466;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  text-shadow: 1px 1px 2px #333;
  margin-left: 5px;
}
.menu .search-input {
  padding: 0 25px 0 5px;
}
.menu .search-button {
  cursor: pointer;
  text-indent: -1000em;
  margin: 4px -155px 0 0;
}
.menu .form-left {
  clear: both;
  float: left;
  margin: 30px 0 0 100px;
}
.menu .form-left label {
  font-size: 14px;
  margin-left: 5px;
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
}
.menu .form-right {
  float: right;
  margin: 30px 100px 0 0;
}
.menu .form-right input {
  float: right;
}
.main {
  width: 842px;
  margin: 0 auto;
}
.footer {
  clear: both;
  margin: 0 auto;
}
.footer-inner {
  color: white;
  font-family: "MyriadPro Light", Arial, sans-serif;
  font-size: 12px;
  padding-top: 15px;
}
.footer a:hover {
  color: white;
}
.footer .csemp {
  float: left;
  margin-left: 30px;
}
.footer .contact {
  float: left;
  margin-left: 50px;
}
.footer .copy {
  float: right;
  margin-right: 40px;
}
.grid {
  position: relative;
  background-image: url(clips/grid-tile.png);
  background-repeat: repeat;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #ccc;
}
.grid .grid-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.grid .grid-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.grid .grid-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.grid .grid-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.home.main {
  height: 345px;
}
.home-left {
  float: left;
  width: 402px;
}
.home-left-inner {
  height: 345px;
  background-image: url(clips/shadow.png);
  background-repeat: repeat-y;
}
.home-left .sjtu-photo {
  margin: 0 auto;
}
.home-left h1 {
  margin: 5px 0 0 55px;
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 30px;
}
.home-right {
  float: left;
}
.home-right .block {
  margin: 16px 32px;
}
.home-right h2 span {
  float: left;
  margin: 5px 0 0 10px;
  font-family: "MyriadPro Regular", Arial, sans-serif;
  font-size: 13px;
  color: white;
}
.home-right ul {
  width: 330px;
  margin-top: 5px;
  list-style-position: inside;
  list-style-image: url(bullet.png);
  list-style-type: circle;
}
.home-right li {
  font-size: 11px;
  line-height: 18px;
}
.home-right .more {
  float: right;
  font-size: 8px;
}
.home-links {
  margin: 15px auto 10px;
  width: 842px;
  height: 82px;
}
.home-links .block {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 266px;
  height: 80px;
}
.home-links .block.m {
  margin-left: 18px;
}
.home-links h2 {
  float: left;
  color: #902610;
  font-family: "MyriadPro Light", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 12px;
}
.home-links h2 em {
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  display: block;
}
.home-links .info-map {
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 502;
}
.home-links .info-yellow-page {
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 501;
}
.home-links .to-info-map {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  bottom: 10px;
  right: 30px;
  z-index: 503;
}
.home-links .to-info-yellow-page {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  bottom: 10px;
  right: 14px;
  z-index: 503;
}
.home-links .guide ul {
  margin-top: 7px;
  list-style-position: inside;
  list-style-image: url(bullet.png);
  list-style-type: circle;
}
.home-links .guide li {
  font-size: 11px;
  line-height: 18px;
}
.home-links .guide .more {
  float: right;
  font-size: 8px;
  margin-top: 4px;
  margin-right: 15px;
}
.home-links .job {
  position: absolute;
  top: 0;
  right: 0;
}
.two-column {
  width: 842px;
  margin: 0 auto;
}
.two-column .grid {
  padding-bottom: 30px;
}
.two-column .main {
  float: right;
  width: 708px;
  min-height: 450px;
  margin: 0 0 10px 0;
}
.two-column .main h1 {
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 36px;
  margin: 20px;
}
.two-column .main p {
  font-size: 14px;
  margin: 20px;
}
.two-column .main .signature-cn {
  height: 50px;
  float: right;
}
.two-column .main .signature-en {
  height: 50px;
  float: right;
  margin-right: 100px;
}
.two-column .sidebar {
  float: left;
  margin: -11px 0 0 -17px;
}
.two-column .sidebar a {
  color: #601504;
}
.two-column .sidebar a:hover {
  text-decoration: none;
  color: #fff;
}
.two-column .sidebar .active a {
  color: #fff;
}
.two-column .sidebar ul {
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
}
.two-column .paperclip1 ul {
  margin: 30px 0 0 25px;
}
.two-column .paperclip2 ul {
  margin: 32px 0 0 35px;
}
.two-column .paperclip4 ul {
  margin: 25px 0 0 23px;
}
.two-column .paperclip4 ul li {
  line-height: 1.5em;
  margin-top: 15px;
  height: 40px;
}
.fullpage .main {
  min-height: 450px;
}
.fullpage .sidebar {
  float: left;
  width: 120px;
}
.fullpage .sidebar ul {
  width: 110px;
  margin: 36px 0 0 10px;
  border-top: 1px solid #a61d31;
  text-align: right;
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 14px;
}
.fullpage .sidebar li {
  margin: 16px 10px;
}
.fullpage .sidebar li a {
  color: #6b6b6b;
}
.fullpage .sidebar .active a, .fullpage .sidebar li a:hover {
  color: #a61d31;
  text-decoration: none;
}
.fullpage .content {
  float: left;
  width: auto;
  border-left: 1px solid #a61d31;
  margin: 10px 10px 10px 0;
  min-height: 425px;
}
.fullpage .content .letters li {
  float: left;
  margin: 10px 3px 0 18px;
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
  font-size: 13px;
  color: #6b6b6b;
}
.fullpage .content .letters a {
  color: #6b6b6b;
  text-decoration: none;
}
.fullpage .content .letters .active a {
  color: #000;
}
.fullpage .content .letters a:hover, .fullpage .content .letters .highlight a {
  color: #a61d31;
}
.fullpage .content .list {
  clear: both;
  border-top: 1px solid #a61d31;
  font-family: "MyriadPro BoldCond", Arial, sans-serif;
}
.fullpage .content .list .top {
  float: right;
  margin: 5px 5px 0 0;
  color: #6b6b6b;
  text-decoration: none;
}
.fullpage .content .list h2 {
  font-size: 1.5em;
  color: #a61d31;
  margin-top: 15px;
  padding-left: 33px;
  border-left: 6px solid #a61d31;
}
.fullpage .content .list h3 {
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
  font-size: 1.2em;
  margin-left: 105px;
  color: #a61d31;
}
.fullpage .content .list h3 a {
  color: #a61d31;
}
.fullpage .content .list .person {
  margin: 0 0 15px 40px;
  padding: 15px 0;
  border-bottom: 1px solid #6b6b6b;
}
.fullpage .content .list .photo {
  float: left;
}
.fullpage .content .list .photo img {
  width: 80px;
  box-shadow: 2px 2px 2px #6b6b6b;
}
.fullpage .content .list .research-area, .fullpage .content .list .main-duties {
  float: left;
  width: 200px;
  margin: 10px 0 0 25px;
  font-size: 0.9em;
  line-height: 1em;
  color: #000;
  text-decoration: none;
}
.fullpage .content .list .research-area:hover {
  text-decoration: underline;
}
.fullpage .content .list .contact-info {
  float: left;
  font-size: 0.9em;
  margin: 10px 0 0 25px;
}
.fullpage .content .list .contact-info li {
  margin-top: 6px;
}
.fullpage .content .list, .fullpage .content .detail {
  clear: both;
  border-top: 1px solid #a61d31;
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
}
.fullpage .content .detail-left {
  float: left;
  width: 160px;
  margin: 15px 20px 10px 15px;
  font-size: 0.9em;
  color: #a61d31;
}
.fullpage .content .detail-left img {
  width: 150px;
  border: 2px solid #a61d31;
  box-shadow: 2px 2px 5px #6b6b6b;
}
.fullpage .content .detail-left h1 {
  font-size: 1.3em;
}
.fullpage .content .detail-left h2 {
  font-size: 1.2em;
}
.fullpage .content .detail-right {
  width: 500px;
  float: left;
}
.fullpage .content .detail-right h2 {
  color: #a61d31;
  font-size: 1.2em;
  margin: 15px 0 10px 0;
}
.fullpage .content .detail-right p i {
  background: transparent;
}
.fullpage .content .professors {
  clear: both;
  border-top: 1px solid #a61d31;
}
.fullpage .content .professor {
  margin: 30px;
  width: 600px;
  border-bottom: 1px solid #a61d31;
}
.fullpage .content .professor img {
  float: left;
  box-shadow: 2px 2px 5px #6b6b6b;
}
.fullpage .content .professor .bio {
  float: left;
  padding: 65px 0 0 20px;
}
.fullpage .content .professor .bio h1 {
  color: #a61d31;
  font-size: 1.2em;
  line-height: 2em;
}
.fullpage .content .professor .bio h2 {
  font-size: 0.9em;
  font-weight: bold;
}
.fullpage .content .professor p {
  padding: 20px 0;
  font-size: 0.8em;
}
table.yellow-page {
  font-size: 0.9em;
  margin: 0 0 40px 40px;
}
table.yellow-page th {
  font-weight: bold;
  border-bottom: 1px dashed #a61d31;
}
table.yellow-page th, table.yellow-page td {
  padding: 10px;
}
table.yellow-page tr:hover {
  background: #ccc;
}
table.news {
  margin: 0 20px;
  font-size: 0.9em;
}
table.news tr:hover {
  background: #ddd;
}
table.news td {
  padding: 10px 0;
}
table.news .date {
  width: 100px;
  vertical-align: top;
}
table.alumni {
  margin: 20px;
}
table.alumni tr {
  border-bottom: 1px solid #a61d31;
}
table.alumni .photo {
  padding: 15px;
  vertical-align: top;
}
table.alumni .photo img {
  max-width: 100px;
  box-shadow: 2px 2px 5px #6b6b6b;
}
table.alumni .info {
  padding: 20px;
}
table.alumni .info h2 {
  color: #a61d31;
}
table.alumni .info p {
  margin: 15px 0;
  line-height: 1.5em;
}
/* http://www.red-team-design.com/css3-ordered-list-styles */
ol.files {
  width: 600px;
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font-size: 15px;
  padding: 0;
  margin-left: 3em;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
ol.files a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;	
}
ol.files a:hover {
  background: #eee;
}
ol.files a:hover:before {
  transform: rotate(360deg);	
}
ol.files a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;	
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.academics h2 {
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
  font-size: 1.3em;
  margin: 0 20px 10px 20px;
  border-bottom: 1px solid #a61d31;
}
.academics ul {
  margin: 20px;
  list-style: circle inside;
  font-size: 0.9em;
  line-height: 1.5em;
}
.academics .curriculum {
  margin: 20px;
  text-align: center;
}
.academics .curriculum th, .academics .curriculum td {
  border: 1px solid #6b6b6b;
  padding: 10px;
}
.academics .curriculum th {
  font-weight: bold;
  text-align: center;
}
.research h2 {
  clear: both;
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
  font-size: 1.3em;
  margin: 20px 20px 10px 20px;
}
.research ul {
  height: 25px;
}
.research ul li {
  float: left;
  margin-left: 50px;
}
.direction-links {
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
  border-bottom: 1px solid #a61d31;
  height: 1.3em;
  margin: 20px;
}
.direction-links li {
  float: left;
  padding: 0 20px;
  border-left: 1px solid #a61d31;
}
.direction-links li.first {
  border-left: 0;
}
.direction-links .active {
  color: #a61d31;
}
.direction-content {
  font-size: 0.9em;
  line-height: 2em;
  text-align: justify;
}
.direction-content p {
  padding: 0 10px;
}
.direction-content ol, .direction-content ul {
  padding-left: 20px;
  margin: 0 50px;
}
.direction-content ol {
  list-style-type: decimal;
}
.direction-content ul {
  list-style-type: circle;
}
.direction-content strong {
  font-weight: bold;
}
ul.labs {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}
ul.labs li {
  margin-bottom: 20px;
}
ul.labs .name {
  font-family: "MyriadPro SemiboldCond", Arial, sans-serif;
  color: #a61d31;
  font-size: 1.2em;
}
.editable {
  outline: 1px dotted #333;
  min-width: 5px;
}
span.editable {
  display: inline-block;
}
@font-face {
  font-family: 'MyriadPro Regular';
  font-weight: normal;
  src: url('fonts/MyriadPro-Regular.eot') format('eot'),
       url('fonts/MyriadPro-Regular.woff') format('woff'),
       url('fonts/MyriadPro-Regular.otf') format('opentype'),
       url('fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('fonts/MyriadPro-Regular.svg') format('svg');
}
@font-face {
  font-family: 'MyriadPro SemiboldCond';
  font-weight: normal;
  src: url('fonts/MyriadPro-SemiboldCond.eot') format('eot'),
       url('fonts/MyriadPro-SemiboldCond.woff') format('woff'),
       url('fonts/MyriadPro-SemiboldCond.otf') format('opentype'),
       url('fonts/MyriadPro-SemiboldCond.ttf') format('truetype'),
       url('fonts/MyriadPro-SemiboldCond.svg') format('svg');
}
@font-face {
  font-family: 'MyriadPro BoldCond';
  font-weight: bold;
  src: url('fonts/MyriadPro-BoldCond.eot') format('eot'),
       url('fonts/MyriadPro-BoldCond.woff') format('woff'),
       url('fonts/MyriadPro-BoldCond.otf') format('opentype'),
       url('fonts/MyriadPro-BoldCond.ttf') format('truetype'),
       url('fonts/MyriadPro-BoldCond.svg') format('svg');
}
@font-face {
  font-family: 'MyriadPro Light';
  font-weight: lighter;
  src: url('fonts/MyriadPro-Light.eot') format('eot'),
       url('fonts/MyriadPro-Light.woff') format('woff'),
       url('fonts/MyriadPro-Light.otf') format('opentype'),
       url('fonts/MyriadPro-Light.ttf') format('truetype'),
       url('fonts/MyriadPro-Light.svg') format('svg');
}
i, .sprite {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.footer {
    width: 854px;
    height: 47px;
    background-position: 0 0;
}

.grid-bottom-left {
    width: 8px;
    height: 8px;
    background-position: -854px 0;
}

.grid-bottom-right {
    width: 74px;
    height: 118px;
    background-position: -862px 0;
}

.grid-top-left {
    width: 8px;
    height: 8px;
    background-position: -936px 0;
}

.grid-top-right {
    width: 8px;
    height: 8px;
    background-position: -944px 0;
}

.info-map {
    width: 134px;
    height: 69px;
    background-position: 0 -118px;
}

.info-yellow-page {
    width: 134px;
    height: 69px;
    background-position: -134px -118px;
}

.job {
    width: 122px;
    height: 80px;
    background-position: -268px -118px;
}

.login-button {
    width: 57px;
    height: 23px;
    background-position: -936px -8px;
}

.login-input {
    width: 55px;
    height: 22px;
    background-position: -936px -31px;
}

.menu {
    width: 1002px;
    height: 112px;
    background-position: 0 -198px;
}

.menu-button {
    width: 71px;
    height: 25px;
    background-position: -390px -118px;
}

.paperclip1 {
    width: 151px;
    height: 152px;
    background-position: 0 -310px;
}

.paperclip2 {
    width: 151px;
    height: 206px;
    background-position: -151px -310px;
}

.paperclip3 {
    width: 151px;
    height: 272px;
    background-position: -302px -310px;
}

.paperclip4 {
    width: 151px;
    height: 313px;
    background-position: -453px -310px;
}

.sjtu-photo {
    width: 355px;
    height: 294px;
    background-position: -604px -310px;
}

.search-button {
    width: 15px;
    height: 17px;
    background-position: 0 -53px;
}

.search-input {
    width: 130px;
    height: 22px;
    background-position: -15px -47px;
}

.section {
    width: 81px;
    height: 27px;
    background-position: -461px -118px;
}

.square1 {
    width: 100px;
    height: 115px;
    background-position: -542px -53px;
}

.square2 {
    width: 120px;
    height: 148px;
    background-position: -1001px 0;
}

.title-left {
    width: 339px;
    height: 49px;
    background-position: -175px -53px;
}

.title-right {
    width: 127px;
    height: 52px;
    background-position: -642px -53px;
}
