i, .sprite {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.footer {
    width: 854px;
    height: 47px;
    background-position: 0 0;
}

.grid-bottom-left {
    width: 8px;
    height: 8px;
    background-position: -854px 0;
}

.grid-bottom-right {
    width: 74px;
    height: 118px;
    background-position: -862px 0;
}

.grid-top-left {
    width: 8px;
    height: 8px;
    background-position: -936px 0;
}

.grid-top-right {
    width: 8px;
    height: 8px;
    background-position: -944px 0;
}

.info-map {
    width: 134px;
    height: 69px;
    background-position: 0 -118px;
}

.info-yellow-page {
    width: 134px;
    height: 69px;
    background-position: -134px -118px;
}

.job {
    width: 122px;
    height: 80px;
    background-position: -268px -118px;
}

.login-button {
    width: 57px;
    height: 23px;
    background-position: -936px -8px;
}

.login-input {
    width: 55px;
    height: 22px;
    background-position: -936px -31px;
}

.menu {
    width: 1002px;
    height: 112px;
    background-position: 0 -198px;
}

.menu-button {
    width: 71px;
    height: 25px;
    background-position: -390px -118px;
}

.paperclip1 {
    width: 151px;
    height: 152px;
    background-position: 0 -310px;
}

.paperclip2 {
    width: 151px;
    height: 206px;
    background-position: -151px -310px;
}

.paperclip3 {
    width: 151px;
    height: 272px;
    background-position: -302px -310px;
}

.paperclip4 {
    width: 151px;
    height: 313px;
    background-position: -453px -310px;
}

.sjtu-photo {
    width: 355px;
    height: 294px;
    background-position: -604px -310px;
}

.search-button {
    width: 15px;
    height: 17px;
    background-position: 0 -53px;
}

.search-input {
    width: 130px;
    height: 22px;
    background-position: -15px -47px;
}

.section {
    width: 81px;
    height: 27px;
    background-position: -461px -118px;
}

.square1 {
    width: 100px;
    height: 115px;
    background-position: -542px -53px;
}

.square2 {
    width: 120px;
    height: 148px;
    background-position: -1001px 0;
}

.title-left {
    width: 339px;
    height: 49px;
    background-position: -175px -53px;
}

.title-right {
    width: 127px;
    height: 52px;
    background-position: -642px -53px;
}
